/*
Stellar Unified Price Oracle & Aggregator API

A Soroban-based price oracle aggregator that pulls from Chainlink, Redstone, Band, and Reflector, normalizes the data, and exposes it through a single clean API endpoint.  ## Features - Multi-source price aggregation with median calculation - Real-time price updates via WebSocket - Historical price data queries - Prometheus metrics - Per-asset confidence scoring       

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package stellaroracleclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type UsageAPI interface {

	/*
	ApiV1UsageAnomaliesGet Detected usage anomalies (request-volume spikes)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1UsageAnomaliesGetRequest
	*/
	ApiV1UsageAnomaliesGet(ctx context.Context) ApiApiV1UsageAnomaliesGetRequest

	// ApiV1UsageAnomaliesGetExecute executes the request
	ApiV1UsageAnomaliesGetExecute(r ApiApiV1UsageAnomaliesGetRequest) (*http.Response, error)

	/*
	ApiV1UsageDashboardGet Usage dashboard (daily/weekly/monthly overview)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1UsageDashboardGetRequest
	*/
	ApiV1UsageDashboardGet(ctx context.Context) ApiApiV1UsageDashboardGetRequest

	// ApiV1UsageDashboardGetExecute executes the request
	ApiV1UsageDashboardGetExecute(r ApiApiV1UsageDashboardGetRequest) (*http.Response, error)

	/*
	ApiV1UsageReportsGet Usage report for a period

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1UsageReportsGetRequest
	*/
	ApiV1UsageReportsGet(ctx context.Context) ApiApiV1UsageReportsGetRequest

	// ApiV1UsageReportsGetExecute executes the request
	ApiV1UsageReportsGetExecute(r ApiApiV1UsageReportsGetRequest) (*http.Response, error)
}

// UsageAPIService UsageAPI service
type UsageAPIService service

type ApiApiV1UsageAnomaliesGetRequest struct {
	ctx context.Context
	ApiService UsageAPI
}

func (r ApiApiV1UsageAnomaliesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1UsageAnomaliesGetExecute(r)
}

/*
ApiV1UsageAnomaliesGet Detected usage anomalies (request-volume spikes)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UsageAnomaliesGetRequest
*/
func (a *UsageAPIService) ApiV1UsageAnomaliesGet(ctx context.Context) ApiApiV1UsageAnomaliesGetRequest {
	return ApiApiV1UsageAnomaliesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *UsageAPIService) ApiV1UsageAnomaliesGetExecute(r ApiApiV1UsageAnomaliesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.ApiV1UsageAnomaliesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/anomalies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1UsageDashboardGetRequest struct {
	ctx context.Context
	ApiService UsageAPI
}

func (r ApiApiV1UsageDashboardGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1UsageDashboardGetExecute(r)
}

/*
ApiV1UsageDashboardGet Usage dashboard (daily/weekly/monthly overview)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UsageDashboardGetRequest
*/
func (a *UsageAPIService) ApiV1UsageDashboardGet(ctx context.Context) ApiApiV1UsageDashboardGetRequest {
	return ApiApiV1UsageDashboardGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *UsageAPIService) ApiV1UsageDashboardGetExecute(r ApiApiV1UsageDashboardGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.ApiV1UsageDashboardGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/dashboard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1UsageReportsGetRequest struct {
	ctx context.Context
	ApiService UsageAPI
	period *string
}

func (r ApiApiV1UsageReportsGetRequest) Period(period string) ApiApiV1UsageReportsGetRequest {
	r.period = &period
	return r
}

func (r ApiApiV1UsageReportsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1UsageReportsGetExecute(r)
}

/*
ApiV1UsageReportsGet Usage report for a period

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UsageReportsGetRequest
*/
func (a *UsageAPIService) ApiV1UsageReportsGet(ctx context.Context) ApiApiV1UsageReportsGetRequest {
	return ApiApiV1UsageReportsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *UsageAPIService) ApiV1UsageReportsGetExecute(r ApiApiV1UsageReportsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.ApiV1UsageReportsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
